<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planning Poker</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <!-- Alpine.js -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <!-- HTMX WebSockets Extension -->
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/ws.js"></script>
    <!-- App JS-->
    <script src="/static/js/app.js"></script>
  </head>
  <body>
    <header>
      <h1>Planning Poker</h1>
    </header>

    <main>{{template "content" .}}</main>

    <footer>
      <p>&copy; 2025 Planning Poker</p>
    </footer>
  </body>
</html>
